<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

  </head>
  <body>
  	<!-- title -->
    <header class="title">
    	<div class="blackTop"></div>
    	<h1>便便大作战</h1>
    </header>

    <!-- map -->
    <div id="map"></div>

    <!-- UI及二维码展示 -->
    <div class="showUI">
    	<div class="page">
    		<div class="right">
    			<img class="phone" src="images/iphone1.png"/>
    		</div>
    		<div class="left">
    			<div class="font">
    				<h2>一键邀请</h2>
    				<h2>快速游戏</h2>
    			</div>
    		</div>
    		
    		
    	</div>
    	<div class="page">
    		<div class="left">
    			<img class="phone" src="images/iphone2.png"/>
    		</div>
    		<div class="right">
    			<div class="font">
    				<h2>附近的人</h2>
    				<h2>收到及来</h2>
    			</div>
    		</div>
    		
    		
    	</div>
    	<div class="page">
    		<div class="right">
    			<img class="phone" src="images/iphone3.png"/>
    		</div>
    		<div class="left">
    			<div class="font">
    				<h2>界面清晰</h2>
    				<p>不一样的便便</p>
    			</div>
    		</div>
    		
    		
    	</div>
    	<div class="page">
    		
    		<div class="left">
    			<img class="phone" src="images/iphone4.png"/>
    		</div>
    		<div class="right">
    			<img class="qr font" src="images/qr.png" />
    			<p class="font none">
    				<a href="">Android 下载 <img align="absmiddle" src="images/android.png"></a>
    				<a href="">iOS 下载 <img align="absmiddle" src="images/iphone.png"></a>	
    			</p>
    			
    		</div>
    	</div>
    </div>

    <!-- 尾部 -->
    <footer class="foot">
    	<p>say someting</p>
    	<p>say someting</p>
    </footer>
  </body>
  <script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp"></script>
  <script type="text/javascript" src="/javascripts/index.js"></script>
</html>
