<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  </head>
  <body>
  	<!-- title -->
    <header class="title">
    	<div class="blackTop"></div>
    	<h1>便便大作战</h1>
    </header>

    <!-- map -->
    <div id="map"></div>

    <!-- UI及二维码展示 -->
    <div class="showUI">
    	<div class="page" style="background-image: url(images/bg1.jpg);">
    		<div class="left">
    			<img class="qr font" src="images/ewm.jpg" />
    			<p class="font none">
    				<a href="">Android 下载 <img align="absmiddle" src="images/android.png"></a>
    				<a href="">iOS 下载 <img align="absmiddle" src="images/iphone.png"></a>	
    			</p>
    		</div>
    		<div class="right">
    			<img class="phone" src="images/phone.png"/>
    		</div>
    		
    	</div>
    	<div class="page" style="background-image: url(images/bg2.jpg);">
    		<div class="right">
    			<div class="font">
    				<h2>便便大作战</h2>
    				<p>介绍XXXXXXXXXXXXX</p>
    				<p>XXXXXXXXXX</p>
    			</div>
    		</div>
    		<div class="left">
    			<img class="phone" src="images/phone.png"/>
    		</div>
    		
    	</div>
    	<div class="page" style="background-image: url(images/bg3.jpg);">
    		<div class="left">
    			<div class="font">
    				<h2>便便大作战</h2>
    				<p>介绍XXXXXXXXXXXXX</p>
    				<p>XXXXXXXXXX</p>
    			</div>
    		</div>
    		<div class="right">
    			<img class="phone" src="images/phone.png"/>
    		</div>
    	</div>
    </div>

    <!-- 尾部 -->
    <footer class="foot">
    	<p>say someting</p>
    	<p>say someting</p>
    </footer>
  </body>
</html>
