<!DOCTYPE html>
<html>
<head>
	<title>user</title>
</head>
<body>
	<p id="text"></p>
	<button id="connect">Connect/flush</button>
	<button id="near">附近的人</button>
	<ul id="nears"></ul>
	<button id="begin">开始游戏</button>
</body>
<script type="text/javascript" src="javascripts/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="javascripts/connect.js"></script>
</html>