body,
header,
h1,
h2,
div,
footer,
p,
img {
  border: none;
  margin: 0;
  padding: 0;
  font: 14px "FZLTXIHJW--GB1-0", "hiragino sans gb", "Microsoft YaHei", "Helvetica Neue", "Helvetica", "STHeiTi", "Arial", "sans-serif";
}
body {
  background-image: url(../images/bg.jpg);
  background-size: 100%;
  background-position: bottom;
}
img {
  display: block;
}
.left {
  float: left;
}
.right {
  float: right;
}
/*第一列样式*/
/*变量*/
.title {
  /*background-color: #fff;*/
}
.title .blackTop {
  height: 1.8rem;
  background-color: #333;
}
.title h1 {
  height: 6rem;
  line-height: 6rem;
  font-size: 2.3rem;
  font-weight: 100;
  color: #e8a75b;
  padding-left: 5rem;
}
.title h1 img {
  display: inline-block;
  height: 2rem;
}
.title h1 img.logo {
  height: 3rem;
  margin-right: 1rem;
}
/*map*/
/*变量*/
#map {
  height: 28rem;
  background-color: #999;
}
/*down箭头动画*/
@keyframes down-animate {
  0% {
    margin-bottom: 0px;
  }
  25% {
    margin-bottom: -5px;
  }
  75% {
    margin-bottom: -5px;
  }
  100% {
    margin-bottom: -10px;
  }
}
/*showUI*/
/*变量*/
.showUI {
  margin: 0 auto;
  max-width: 1366px;
}
.showUI .page {
  padding: 10rem 3rem 0 3rem;
  /*background-color: #666;*/
  overflow: hidden;
  height: 45rem;
}
.showUI .page .left {
  margin-left: -600px;
}
.showUI .page .right {
  margin-right: -600px;
}
.showUI .page .down {
  width: 24%;
  position: absolute;
  bottom: 10%;
  left: 38%;
  display: none;
  z-index: -1;
  animation: down-animate 0.5s linear infinite;
  -moz-animation: down-animate 0.5s linear infinite;
  -webkit-animation: down-animate 0.5s linear infinite;
  -o-animation: down-animate 0.5s linear infinite;
}
.showUI .page .left,
.showUI .page .right {
  transition: margin 0.3s;
  -moz-transition: margin 0.3s;
  /* Firefox 4 */
  -webkit-transition: margin 0.3s;
  /* Safari 和 Chrome */
  -o-transition: margin 0.3s;
  /* Opera */
  width: 50%;
  height: 100%;
}
.showUI .page .left img,
.showUI .page .right img {
  margin: 0 auto;
}
.showUI .page .left .font,
.showUI .page .right .font {
  margin-top: 8rem;
  color: #fff;
  letter-spacing: 1rem;
}
.showUI .page .left .font p,
.showUI .page .right .font p {
  font-weight: 100;
  font-size: 2.8rem;
}
.showUI .page .left .font h2,
.showUI .page .right .font h2 {
  font-weight: 100;
  font-size: 3.4rem;
  margin-bottom: 1rem;
}
.showUI .page .left .none,
.showUI .page .right .none {
  display: none;
}
.showUI .page .left .qr,
.showUI .page .right .qr {
  width: 268px;
  height: 268px;
}
.showUI .page .left .phone,
.showUI .page .right .phone {
  width: 340px;
}
.showUI .page .left .font {
  text-align: left;
  margin-left: 14rem;
}
.showUI .page .right .font {
  text-align: right;
  margin-right: 14rem;
}
/*foot*/
/*变量*/
.foot {
  /*background-color: #fff;*/
  padding: 3rem 0;
  text-align: center;
  font-size: 0.8rem;
  color: #999;
}
.foot p {
  height: 2rem;
  line-height: 2rem;
}
.foot p img {
  display: inline-block;
  height: 1rem;
  margin-right: 1rem;
}
/*768px*/
@media screen and (max-width: 768px) {
  html,
  body {
    height: 100%;
  }
  body {
    background-color: #A27A4A;
    background-size: auto 830%;
    background-position: 100%;
    background-repeat: no-repeat;
  }
  .title h1 {
    padding-left: 0;
    text-align: center;
  }
  .title h1 img {
    display: none;
  }
  .title h1 img.logo {
    display: inline-block;
  }
  #map {
    height: 15rem;
  }
  .showUI {
    margin-top: 3rem;
    height: 100%;
  }
  .showUI .page {
    height: 100%;
    padding: 0;
    /*a.pageFC{
				display: block;
				width: 50%;
				position: absolute;
				bottom:10%;
				left: 25%;
				z-index: -1;
			}*/
  }
  .showUI .page .down {
    display: block;
  }
  .showUI .page .left,
  .showUI .page .right {
    /*margin: 0;*/
    height: auto;
    width: 100%;
  }
  .showUI .page .left .font,
  .showUI .page .right .font {
    text-align: center;
    margin: 3rem 0;
  }
  .showUI .page .left .font p,
  .showUI .page .right .font p {
    font-size: 1rem;
  }
  .showUI .page .left .font h2,
  .showUI .page .right .font h2 {
    font-size: 2rem;
  }
  .showUI .page .left .qr,
  .showUI .page .right .qr {
    display: none;
  }
  .showUI .page .left .none,
  .showUI .page .right .none {
    display: block;
    margin: 2rem;
    height: 8rem;
    background-color: rgba(100, 100, 100, 0.2);
  }
  .showUI .page .left .none a,
  .showUI .page .right .none a {
    letter-spacing: 0.1rem;
    display: block;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
  }
  .showUI .page .left .none a img,
  .showUI .page .right .none a img {
    display: inline;
    width: 32px;
    height: 32px;
  }
  .showUI .page .left.phoneF,
  .showUI .page .right.phoneF {
    height: 70%;
  }
  .showUI .page .left .phone,
  .showUI .page .right .phone {
    width: auto;
    height: 100%;
  }
  .foot {
    display: none;
  }
}
